.btn
{
  box-shadow:
    0px 1px 3px 3px rgba(0, 0, 0, 0.2);
}

.jumbotron
{
  background: #6699CC;
}


.container .jumbotron
{
    border-radius: 2px;
        box-shadow:
    0px 1px 3px 3px rgba(0, 0, 0, 0.2);
}


.graph
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 600px;
    /*border: 2px black solid;*/


}


.header
{
  font: 900 120px/1 'Source Sans Pro', Arial, sans-serif;
  background: #6699CC;
  color: white;
  text-align: center; letter-spacing: -3px;
  padding-top: 10%;
}

h1
{

  text-shadow:
  0 1px 0 hsl(174,5%,80%),
  0 2px 0 hsl(174,5%,75%),    
  0 3px 0 hsl(174,5%,70%), 
  0 4px 0 hsl(174,5%,65%),
  0 5px 0 hsl(174,5%,60%),
/*     white bubble*/
  0 5px 10px rgba(0,0,0,.1),
  0 20px 20px rgba(0,0,0,.1),
  0 30px 30px rgba(0,0,0,.1),
  0 20px 30px rgba(0,0,0,.1),
  0 20px 30px rgba(0,0,0,.1);
/*black shadows*/
/*horizontal based gos up*/
}
/*HSL hue, saturation, lightness*/
/*hue is color wheel degree, saturation         */
/*text-shadow: h-shadow v-shadow blur-radius color;*/




 p, label, input, .white, #file, button, h2, ol, li
{
    font-family: Ubuntu;
    color: white;
}